<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
               
<!-- the given property tags is simply we called as setter injection --> 
<bean id="studentBean" class="com.test.Student">
<property name="stdid" value="350"></property>
<property name="stdname" value="Sunil"></property>
<property name="stdaddress" value="hyderabad"></property>
</bean>

<bean id="studentBean1" class="com.test.Student">
  <constructor-arg name="stdid" value="351"></constructor-arg>
  <constructor-arg name="stdaddress" value="vijayawada"></constructor-arg>
  <constructor-arg name="stdname" value="Syamkumar"></constructor-arg>
  

</bean>
<bean id="employeeBean" class="com.test.Employee">

<property name="empid" value="1001"></property>
<property name="empname" value="ajayreddy"></property>
<property name="empaddress" value="hyderabad"></property>



</bean>
<bean id="employeeBean1" class="com.test.Employee">
<constructor-arg name="empid" value="1002"></constructor-arg>
<constructor-arg name="empname" value="vijaykumar"></constructor-arg>
<constructor-arg name="empaddress" value="Kaikaluru"></constructor-arg>


</bean>


</beans>